# GENERAL SPRING BOOT ACTUATOR CONFIG
# Context path for Spring Boot Actuator endpoints
  management.endpoints.web.base-path=/
  management.endpoint.health.show-details=always
  spring.application.name = et-cos

  spring.datasource.url = jdbc:postgresql://${ET_COS_DB_HOST:localhost}:${ET_COS_DB_PORT:5432}/${ET_COS_DB_NAME:et_cos}${ET_COS_DB_CONN_OPTIONS:}
  spring.datasource.username = ${ET_COS_DB_USER_NAME:et_cos}
  spring.datasource.password = ${ET_COS_DB_PASSWORD:}

  spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
  spring.jpa.hibernate.ddl-auto = none
  spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

  server.port=8081
  feign.httpclient.enabled = true

  tornado.url=${TORNADO_URL:http://localhost:8090/rs/render}
  tornado.accessKey=${TORNADO_ACCESS_KEY:}

azure.application-insights.instrumentation-key: ${APP_INSIGHTS_KEY:00000000-0000-0000-0000-000000000000}

spring.config.import: optional:configtree:/mnt/secrets/et-cos/,optional:configtree:/mnt/secrets/et/

  ccd.client.timeout=60000

  ccd.data.store.api.url=${CCD_DATA_STORE_API_URL:http://ccd-data-store-api:4452}

  document_management.url = ${DOCUMENT_MANAGEMENT_URL:http://dm-store:8080}
  document_management.ccdCaseDocument.url = ${DOCUMENT_MANAGEMENT_URL:http://dm-store:8080}
document_management.caseWorkerRole: ${DOCUMENT_MANAGEMENT_CASEWORKERROLE}

  idam.api.url = ${IDAM_API_URL:http://sidam-api:5000}
  idam.api.url.jwkUrl = ${IDAM_API_JWK_URL:http://sidam-api:5000/jwks}

  idam.s2s-auth.url = ${SERVICE_AUTH_PROVIDER_URL:http://service-auth-provider-api:8080}
  idam.s2s-auth.totp_secret = ${ET_COS_S2S_SECRET:AAAAAAAAAAAAAAAC}
  idam.s2s-auth.microservice = ${MICRO_SERVICE:ccd_gw}

  ccd_gateway_base_url = ${CCD_GATEWAY_BASE_URL:http://127.0.0.1:3453}
  case_document_am.url = ${CASE_DOCUMENT_AM_URL:http://ccd-case-document-am-api:4455}
  feature.secure-doc-store.enabled = false

  uk.gov.notify.api.key=${GOV_NOTIFY_API_KEY:test}
  referral.template.id=${REFERRAL_TEMPLATE_ID:test}
  et1Serving.template.id=${ET1SERVING_TEMPLATE_ID:test}
  et1Serving.respondent.template.id=${ET1SERVING_RESPONDENT_TEMPLATE_ID:test}
  rejected.template.id=${REJECTED_TEMPLATE_ID:test}
  et3Notification.template.myhmcts.id=${ET3_NOTIFICATION_TEMPLATE_MYHMCTS_ID:test}
  et3Notification.template.citizen.id=${ET3_NOTIFICATION_TEMPLATE_CITIZEN_ID:test}
  submitCaseDocUploadErrorEmailTemplateId: ${SUBMIT_CASE_DOC_UPLOAD_ERROR_EMAIL_TEMPLATE_ID:3007a1e9-13b0-4bf9-9753-398ea91b8564}
  et1ServiceOwnerNotificationEmail: ${ET1_SERVICE_OWNER_NOTIFICATION_EMAIL:ignored_default_value}
  et1EcmDtsCoreTeamSlackNotificationEmail: ${ET1_ECM_DTS_CORE_TEAM_SLACK_NOTIFICATION_EMAIL:ignored_default_value}
  # QUEUES
  queue.create-updates.send.connection-string = ${CREATE_UPDATES_QUEUE_SEND_CONNECTION_STRING:Endpoint=sb://ethos-servicebus-devs.servicebus.windows.net/;SharedAccessKeyName=SendSharedAccessKey;SharedAccessKey=BjhJCSyb1k/jurYGRGQxPnpsNGDv/Ds3PVmmm9xa9v0=;EntityPath=create-updates-gch}
  queue.create-updates.queue-name = create-updates-gch

  springdoc.packagesToScan=uk.gov.hmcts.ethos.replacement.docmosis.controllers
  springdoc.pathsToMatch=/**
  springdoc.pre-loading-enabled=true
